<h1>Home page</h1>
<hr>
<p>Course project for TelerikAcademy Javascript Applications 2017 Course, team Dragonfruit.</p>

<p>Logged in users are able to post their own products for sale, buy other users' products and send/receive messages.</p>

<p>Anonymous users are able to browse products only.</p>
