{{#if LOGIN_USERNAME}}
<form class="form-inline col-md-6" id="container-sign-out">
    <label>Logged in as {{LOGIN_USERNAME}}</label>
    <button id="btn-sign-out" class="btn btn-primary">Sign out</button>
</form>
{{else}}
    <form class="form-inline col-md-6" id="container-sign-in">
        <ul class="nav nav-pills col-md-8">
            <li><a href="#/users/login"> SignIn</a></li>
            <li><a href="#/users/register"> Register</a></li>
        </ul>
    </form>
{{/if}}