<fieldset>
  <h1>Send message</h1>
  <nav class="navbar navbar-inverse zrow">
    <ul class="nav navbar-nav col-md-8">
        <li><a href="#/messages/received">Recieved messages</a></li>
        <li><a href="#/messages/sent">Sent messages</a></li>
        <li><a href="#/messages/add">Send new message</a></li>
    </ul>
  </nav>
  <div class="form-group">
    <label for="tb-message-recipient">To user:</label>
  <input type="text" class="form-control" id="tb-message-recipient" />
  </div>
  <div class="form-group">
    <label for="tb-message-title">Title:</label>
    <input type="text" class="form-control" id="tb-message-title" />
  </div>
  <div class="form-group">
    <label for="tb-message-content">Content</label>
    <input type="text" id="tb-message-content" class="form-control" />
  </div>
 
  <a href="#/messages/received" class="btn btn-primary" id="btn-message-add">Send</a>
</fieldset>
