<fieldset>
  <legend>Add message</legend>
  <div class="form-group">
    <label for="tb-message-title">Title:</label>
    <input type="text" class="form-control" id="tb-product-title" />
  </div>
  <div class="form-group">
    <label for="tb-event-content">Content</label>
    <input type="text" id="tb-product-content" class="form-control" />
  </div>
 
  <button class="form-control btn btn-primary" id="btn-message-add">Add</button>
</fieldset>
