<fieldset>
  <legend>Add new product</legend>
  <div class="form-group">
    <label for="tb-product-title">Title:</label>
    <input type="text" class="form-control" id="tb-product-title" />
  </div>
  <div class="form-group">
    <label for="tb-product-description">Description</label>
    <input type="text" id="tb-product-description" class="form-control" />
  </div>
    <div class="form-group">
    <label for="tb-product-category">Category</label>
    <input type="text" id="tb-product-category" class="form-control" />
  </div>
    </div>
    <div class="form-group">
    <label for="tb-product-price">Price</label>
    <input type="text" id="tb-product-price" class="form-control" />
  </div>
 
  <button class="btn btn-primary" id="btn-product-add">Add</button>
</fieldset>
