<h2>Products</h2>

  {{#each this}}
    <div class="event-box" data-id="{{id}}">
      <h4>{{title}}
        <small><a href="#" class="btn-cancel">X</a></small>
      </h4>
      <p>{{description}}</p>
    </div>
  {{/each}}

