<fieldset>
  <h1>Are you sure you want to delete this product?</h1>
  <button class="btn btn-primary" id="btn-delete-confirm">Yes, I am sure</button>
  <button class="btn btn-primary" id="btn-delete-decline">No, bring me back to my products</button>
</fieldset>
