<h1>Search for products</h1>
<input type="text" id="tb-product-search-title" class="tb-product-search" placeholder="Title">
<input type="text" id="tb-product-search-category" class="tb-product-search" placeholder="Category"> 