<fieldset>
  <h1>Add new product</h1>
  <nav class="navbar navbar-inverse zrow">
    <ul class="nav navbar-nav col-md-8">
        <li><a href="#/products">Browse products</a></li>
        <li><a href="#/products/add">Add new product</a></li>
    </ul>
  </nav>
  <div class="form-group">
    <label for="tb-product-title">Title:</label>
    <input type="text" class="form-control" id="tb-product-title" />
  </div>
  <div class="form-group">
    <label for="tb-product-description">Description</label>
    <input type="text" id="tb-product-description" class="form-control" />
  </div>
    <div class="form-group">
    <label for="tb-product-category">Category</label>
    <input type="text" id="tb-product-category" class="form-control" />
  </div>
    </div>
    <div class="form-group">
    <label for="tb-product-price">Price</label>
    <input type="text" id="tb-product-price" class="form-control" />
  </div>
 
  <button class="btn btn-primary" id="btn-product-add">Add</button>
</fieldset>
