<fieldset>
  <legend>Register a new User</legend>
  <div class="form-group">
    <label for="tb-reg-username" title="Username must be between 2 and 20 symbols long and can contain latin letters and digits.">Username:</label>
     <input type="text" class="form-control" id="tb-reg-username">
  </div>
  <div class="form-group">
    <label for="tb-reg-password" title="Password must be between 6 and 40 symbols long, may contain latin letters and digits only, and must contain atleast 1 digit, 1 small and 1 big letter.">Password:</label>
     <input type="password" class="form-control" id="tb-reg-password">
  </div><div class="form-group">
    <label for="tb-reg-password-repeat">Repeat password:</label>
     <input type="password" class="form-control" id="tb-reg-password-repeat">
  </div>
  <button id="btn-register" class="btn btn-primary">Register</button>
</fieldset>
