<fieldset>
  <h1>Are you sure you want to checkout?</h1>
  <button class="btn btn-primary" id="btn-checkout-confirm">Yes, I am sure</button>
  <a href="#/products" class="btn btn-primary" id="btn-checkout-decline">No, show me more products</a>
</fieldset>
