<h1>Users</h1>
<hr>
<ul>
  {{#each users}}
    <li class="user-box">
      <p>{{username}}</p>
      <a href="#/messages/add?recipient={{username}}">Send message to {{username}}</a>
      <hr>
    </li>
  {{/each}}
</ul>
